{% extends "base.html" %}
{% block title %}Quiz App - My Questions{% endblock %}

{% block page_content %}
	<div>
    <h1>My questions</h1>
		<table class="table table-responsive">
		  <thead>
		    <tr>
		      <th scope="col">Question</th>
		      <th scope="col">Course</th>
		    </tr>
		  </thead>
			{% for my_question in my_questions %}
		  <tbody>
		    <tr>
		      <td>{{ my_question.body }}</td>
		      <td>{{ my_question.course.course_name }}</td>
		      <td>
						<a class="btn btn-outline-primary" href="{{ url_for('main.edit_question', id=my_question.id) }}">
							Edit
						</a>
					</td>
		      <td>
						<a class="btn btn-outline-danger" href="{{ url_for('main.delete_question', id=my_question.id) }}">
							Delete
						</a>
					</td>
		    </tr>
		  </tbody>
			{% endfor %}
		</table>






{% endblock %}
